@import url(./vendor/fonts.css);
@import url(./vendor/normalize.css);

#root {
  height: 100%;
  max-width: 1280px;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-color: #1F1F1F;
  margin: 0 auto;
  font-family: 'Golos', Arial, sans-serif;
  font-style: normal;
  text-rendering: optimizeLegibility;
  overflow: hidden;
}

.button {
  background-color: #ffffff;
  height: 68px;
  border-radius: 100px;

  &:hover {
    background-color: #000000;
    color: #ffffff;
  }
}

.bullet {
  width: 180px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 100px;
  text-align: center;
  align-content: center;
}

@media (max-width: 768px) {
  .bullet {
    width: 143px;
    height: 30px;
    border: 1px solid #ffffff;
    border-radius: 100px;
    text-align: center;
    align-content: center;
  }
}